name: CI

on:
  push:
    branches:
      - main
      - master
      - "v*"
  pull_request:

env:
  FORCE_COLOR: 1

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: 18.x

      - run: yarn install --frozen-lockfile
      - run: yarn lint

  test-node:
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    name: Tests (Node.js ${{ matrix.node-version }})
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: ${{ matrix.node-version }}

      - run: yarn install --frozen-lockfile
      - run: yarn unit-test

  test-eslint:
    strategy:
      matrix:
        eslint-version: [2.0.0, 3.0.0, 4.0.0, 5.0.0, 6.0.0, 7.0.0, 8.0.0, 9.0.0]

    name: Tests (ESLint ${{ matrix.eslint-version }})
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: 18.x

      - run: yarn install --frozen-lockfile
      - run: yarn add eslint@${{ matrix.eslint-version }}
      - run: yarn unit-test
